.metronome {
  margin: 0 auto;
  padding: 30px;
  height: 198px;
  width: 376px;
  background-color: $metronomeBG;
  border-radius: 20px;
}

.bpm-slider input {
  width: 100%;
  margin: 10px;
}

.metronome button {
}
