.socialcard {
  text-align: center;
  grid-area: socialcard;
  background-color: $detail-color;
  height: 436px;
  width: 376px;
  box-shadow: 0px 3px 20px #00000029;
  border-radius: 20px;
  opacity: 1;
}
.socialcard-Logo-Container{
  width: 58px;
  height: 58px;
  padding: 20px;
}
.socialcard-Main-Topic{
  font-size: 34px;
  color: white;
}
.socialcard-Person{
  /**/
  display: flex;
  background-color: white;
  width: 212px;
  height: 75px;
  margin: auto;
  margin-top: 82px;
}
.person-Name{
  /**/
  color: $detail-color;
  font-size: 24px;
  font: SemiBold Asap;
  padding-left: 10px;
  
}
.person-Icon-Container{
  height: 48px;
  width: 48px;
  margin-left: 10px;
  margin-top: 14px;
}
.person-Icon{
  /**/
  height: 100%;
  width: 100%;
}
.socialcard-Link{
  text-decoration: none;
  color: white;
  font-size: 14px;
}