$detail-color: #7b84d5;
$main-color: #ffffff;
$base-color: #f6f2ed;
$shadow-color: #d6d6d6;
$pinky-collor: #f36b7f;
$pinky-shadow: #f36b7f80;
$hackerBG: #f6f6ef;
$words-collor: #2d334a;
$gitIssues: #fcd66e;
$gitIssuesBody: #fcf0e3;
$metronomeBG: #81b3a3;
$metronomeslider: #32705c;
$metronomesliderselected: #81b3a3;
