.weather-app {
  grid-area: weather;
  border: 1px dotted black;
  width: 75vw;
  text-align: center;
}
.weather-bar {
  display: flex;
  flex-direction: row;
}
.weater-bar-box {
  /**/
  width: 98px;
  height: 77px;
  margin-left: 20px;
  background-color: $pinky-collor;
  box-shadow: 0px 6px 8px $pinky-shadow;
  border-radius: 20px;
  
}
.weater-bar-box + .weater-bar-box{
  margin-left: 21px;
}
.weather-id {
  display: block;
}
.weather-date {
  /**/
  color: white;
  font-size: 9px;
  margin-top: 3px;
  margin-bottom: 10px;
}
.weather-img {
  /**/
  width: 24px;
  height: 24px;
  margin: auto;
 
}
.weather-temperatura {
  /**/
  margin-bottom: 9px;
}
.temp-align {
  display: flex;
}
.temp-align div {
  margin-left: 8px;
}
.temp-align div {
  color: white;
  margin: auto;
}
